@import "tailwindcss";

@theme {
  /* Paleta de colores */
  --color-qb-blue: #35AAF9;
  --color-qb-dark: #04004D;
  --color-qb-gray: #35353A;
  --color-qb-purple: #D130F2;
  --color-qb-cyan: #2FF4EE;

  /* NUEVOS KEYFRAMES: 
    De 0% a 90% no hace nada (se queda quieto).
    De 92% a 98% hace el movimiento rápido del glitch.
  */
  @keyframes glitch {
    0%, 90%, 100% { transform: translate(0); }
    92% { transform: translate(-2px, 2px); }
    94% { transform: translate(-2px, -2px); }
    96% { transform: translate(2px, 2px); }
    98% { transform: translate(2px, -2px); }
  }

  /* DURACIÓN Y RETRASO (DELAY):
    - 4s y 6s es lo que dura el ciclo completo (como el 90% es pausa, pausará ~3.5 segundos entre cada glitch).
    - 'infinite' hace que se repita siempre.
    - El '3s' al final es el tiempo que espera la página al cargar antes de empezar la animación por primera vez.
  */
  --animate-glitch-fast: glitch 4s infinite 3s;
  --animate-glitch-slow: glitch 6s infinite 3s;
}

@layer base {
  body {
    background-color: var(--color-qb-dark);
    color: white;
    -webkit-font-smoothing: antialiased;
  }
}